{
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react", "react-hooks", "@typescript-eslint", "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "globals": {
    "document": false,
    "navigator": false,
    "window": false,
    "module": true,
    "Template": "readonly",
    "__SKIN__": false,
    "JSX": true,
    "FormData": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "tsconfig.json"
      }
    }
  },
  "rules": {
    "import/no-cycle": "off",
    "no-empty": "off",
    "import/no-unresolved": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "src/services/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "src/selectors/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "src/actions/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "src/core/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "src/translations/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-underscore-dangle": 0,

    "prettier/prettier": "error",

    "no-console": "off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "no-param-reassign": 0,
    "@typescript-eslint/no-explicit-any": 0,
//    "@typescript-eslint/no-unused-vars": 0,
    "no-undef": 0,

    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    // THIS SHOULD BE DISABLED IN FUTURE
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-unused-expressions": "error",

    "react/prop-types": [
      1,
      {
        "ignore": [
          "dispatch",
          "children"
        ]
      }
    ],
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],

    // React Hooks
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",

    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
